<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="~{fragments/head :: head(#{topbar.contacts}, #{topbar.contacts})}"></head>
<header th:replace="~{fragments/header_fragment :: headFragment}"></header>
<body>
<h2>Search here</h2>
</body>
<footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
</html>